body {
    background: rgb(46, 95, 125);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 5px;
    padding: 5px;
}
canvas {
    background-color: white;
}

#reels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:absolute;  /*needs improvement*/
    top: 30%;
    left: 35%;
    
}
#btnstop1 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 40%;
    height: 60px;
    width: 80px;
}

#btnstop2 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 50%;
    height: 60px;
    width: 80px;
}

#btnstop3 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 60%;
    height: 60px;
    width: 80px;
}

#btnstart {
    color: black;
    background-color: yellow;
    height: 110px;
    width: 110px;
    padding: 35px;
    position: absolute;
    top: 73%;
    left: 25%;
    border-radius: 50%;
}