body {
    background: rgb(46, 95, 125);
}

canvas {
    background-color: white;
}

#reels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:absolute;  /*needs improvement*/
    top: 30%;
    left: 35%;
    
}
#reel1{
margin-right: 25px;
}
#reel2{
margin-right: 25px;
}
#reel3{
margin-right: 25px;
}

.stop1 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 37%;
}

.stop2 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius:50%;
    top: 80%; 
    left: 47%;
}

.stop3 {
    color: black;
    background-color: silver;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    top: 80%;
    left: 57%;
}

.start {
    color: black;
    background-color: yellow;
    height: 110px;
    width:110px;
    padding: 10px;
    position: absolute;
    top: 73%;
    left: 20%;
    border-radius: 50%;
}

